<md-card class="author-details">
  <section>
    <h2 class="md-headline">{{author.names[0]}}</h2>
    <h4 class="md-subhead">{{books.length}} Books</h4>
  </section>
</md-card>

<section class="flex-container" ng-hide="isLoading">
  <empty-content ng-if="!books.length"  icon="{{icon || 'book'}}" text="{{emptyMsg}}"></empty-content>
  <md-card book-card class="flex-item" ng-if="books.length" ng-repeat="book in books" book="book" book-id="{{book.id}}"></md-card>
</section>

<loading-circle loading="isLoading"></loading-circle>
