<div class="needbook-landing">
  <ng-include class="top_bar" src="'components/home/toolbar/homeToolbarView.html'"></ng-include>
  <section class="headline">
    <div class="container">
      <div class="description">
        <h2 class="md-display-2">Discover a new ways of reading</h2>
        <h6 class="md-subhead">Have access to detailed information about your favourite books.</br>
          Characters, Places & Events description. Much more are categories coming soon</h6>
        <div class="cta-container">
          <md-button class="md-raised md-accent md-hue-2 btn-cta" ui-sref="home.sign_up">Sign Up</md-button>
        </div>
      </div>
      <!-- <div class="illustration">
      </div> -->
    </div>
  </section>

  <section id="about" class="about">
    <div class="container">
      <div class="content-header">
        <h3 class="md-display-1">About</h3>
        <p class="md-body-1">
          Needbook is an application designed for mobile-devices readers. It will be available on iOS & Android while also having a Web Application.
        </p>
      </div>
      <div class="content">
        <div class="icon-item">
          <ng-md-icon icon="my_library_books" size="48"></ng-md-icon>
          <h5 class="md-title">Library</h5>
          <p class="description">Keep track of the books you are reading and those you have already read.</p>
        </div>
        <div class="icon-item">
          <ng-md-icon icon="info_outline" size="48"></ng-md-icon>
          <h5 class="md-title">Information</h5>
          <p class="description">Access detailed informations about characters, places & events that happend in the book.</p>
        </div>
        <div class="icon-item">
          <ng-md-icon icon="book" size="48"></ng-md-icon>
          <h5 class="md-title">Reader</h5>
          <p class="description">Access additional informations of the book while reading with a simple click.</p>
        </div>
        <div class="icon-item">
          <ng-md-icon icon="comment" size="48"></ng-md-icon>
          <h5 class="md-title">Community</h5>
          <p class="description">Share your reading experience with our community.</p>
        </div>
      </div>
    </div>
  </section>


  <section id="features" class="features">
    <div class="container">
      <div class="content-header">
        <h3 class="md-display-1">Features</h3>
        <p class="md-body-1">
          Lately we have been working on a first draft of our iOS Application.<br>
           Be one of the first to try it out. To do so apply to our Beta and we will send you an invite to download the app very soon.
        </p>
      </div>
      <div class="content">
        <div class="icon-item">
          <img src="assets/img/logo@2x.png" alt="Needbook">
          <h5 class="md-title">iOS Application</h5>
          <p class="description">Become a beta tester of our iOS Application .</p>
          <form>
            <md-input-container>
              <label>Email</label>
              <input ng-model="user.email" type="email">
            </md-input-container>
            <md-button class="md-accent md-raised">
              Apply to Beta
            </md-button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="team" class="team">
    <div class="container">
      <div class="content-header">
        <h3 class="md-display-1">Team</h3>
        <p class="md-body-1">We are a group of 6 Epitech students trying to make a difference in the life of digital readers.</p>
      </div>
      <div class="content">
        <div class="team-members">
          <img src="assets/img/avatars/team/coriolan.png">
          <div class="infos">
            <span class="name">Coriolan Bataille</span><br>
            <span class="job">iOS Developer / Designer UX<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/bilel.jpg">
          <div class="infos">
            <span class="name">Bilel Benamira</span><br>
            <span class="job">Front End Lead<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/romain.jpg">
          <div class="infos">
            <span class="name">Romain Boces</span><br>
            <span class="job">Android Lead<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/sebastien.jpg">
          <div class="infos">
            <span class="name">Sebastien Darses</span><br>
            <span class="job">iOS Lead<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/julien.png">
          <div class="infos">
            <span class="name">Julien Fouilhé</span><br>
            <span class="job">Backend Lead / CTO<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/mike.jpg">
          <div class="infos">
            <span class="name">Mike Gilbin</span><br>
            <span class="job">Backend Developer<span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact">
    <div class="container">
      <div class="content-header">
        <h3 class="md-display-1">Contact Us</h3>
        <p class="md-body-1">
          Have any questions or suggestion ?<br>
          Whould you like to participate to our beta ? <br>
          Don't esitate to contact us at:
        </p>
        <a href="mailto:contact@needbook.io" class="md-subhead md-body-2">contact@needbook.io</a>
      </div>
    </div>
  </section>

  <section id="footer" class="footer">
    <div class="container">
      Needbook
    </div>
  </section>
<div>
