<div class="needbook-landing">
  <ng-include class="top_bar" src="'components/home/toolbar/homeToolbarView.html'"></ng-include>
  <section class="headline">
    <div class="container">
      <div class="description">
        <h2 class="md-display-2">Best landing page for modern app!</h2>
        <h6 class="md-subhead">A supporting statement of your value proposition. Entive your visitor to keep reading the heigh level details of your offering.</h6>
        <div class="cta-container">
          <md-button class="md-raised md-accent md-hue-2 btn-cta" ui-sref="home.sign_up">Sign Up</md-button>
        </div>
      </div>
      <!-- <div class="illustration">
      </div> -->
    </div>
  </section>

  <section id="about" class="about">
    <div class="container">
      <div class="content-header">
        <h3 class="md-display-1">About</h3>
        <p class="md-body-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div class="content">
        <div class="icon-item">
          <ng-md-icon icon="my_library_books" size="48"></ng-md-icon>
          <h5 class="md-title">Library</h5>
          <p class="description">Sed ut perspiciatis unde omnis iste natus error sit.</p>
        </div>
        <div class="icon-item">
          <ng-md-icon icon="info_outline" size="48"></ng-md-icon>
          <h5 class="md-title">Information</h5>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos.</p>
        </div>
        <div class="icon-item">
          <ng-md-icon icon="book" size="48"></ng-md-icon>
          <h5 class="md-title">Reader</h5>
          <p class="description">Nam libero tempore, cum soluta nobis est.</p>
        </div>
        <div class="icon-item">
          <ng-md-icon icon="comment" size="48"></ng-md-icon>
          <h5 class="md-title">Community</h5>
          <p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum.</p>
        </div>
      </div>
    </div>
  </section>


  <section id="features" class="features" ng-hide="true">
    <div class="container">
      <div class="content-header">
        <h3 class="md-display-1">Features</h3>
        <p class="md-body-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div class="content">
        <md-tabs md-dynamic-height md-center-tabs md-border-bottom>
          <md-tab>
            <md-tab-label>
              <ng-md-icon icon="phone_iphone" size="19"></ng-md-icon>
              Phone
            </md-tab-label>
            <md-content class="md-padding">
              <h4 class="md-headline">Smartphone Version</h4>
              <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
            </md-content>
          </md-tab>
          <md-tab>
            <md-tab-label>
              <ng-md-icon icon="tablet_mac" size="19"></ng-md-icon>
              Tablet
            </md-tab-label>
            <md-content class="md-padding">
              <h4 class="md-headline">Tablet Version</h4>
              <p class="description">Nemo enim ipsam voluptatem qu eum iure reprehenderit qui in ea voluptate velit. Sed ut perspiciatis unde. Nam libero tempore, cum soluta nobis est eligendi omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
            </md-content>
          </md-tab>
          <md-tab>
            <md-tab-label>
              <ng-md-icon icon="desktop_windows" size="19"></ng-md-icon>
              Desktop
            </md-tab-label>
            <md-content class="md-padding">
              <h4 class="md-headline">Desktop Version</h4>
              <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </section>

  <section id="team" class="team">
    <div class="container">
      <div class="content-header">
        <h3 class="md-display-1">Team</h3>
        <p class="md-body-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div class="content">
        <div class="team-members">
          <img src="assets/img/avatars/team/coriolan.png">
          <div class="infos">
            <span class="name">Coriolan Bataille</span><br>
            <span class="job">iOS Developer / Designer UX<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/bilel.jpg">
          <div class="infos">
            <span class="name">Bilel Benamira</span><br>
            <span class="job">Front End Lead<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/romain.jpg">
          <div class="infos">
            <span class="name">Romain Boces</span><br>
            <span class="job">Android Lead<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/sebastien.jpg">
          <div class="infos">
            <span class="name">Sebastien Darses</span><br>
            <span class="job">iOS Lead<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/julien.png">
          <div class="infos">
            <span class="name">Julien Fouilhé</span><br>
            <span class="job">Backend Lead / CTO<span>
          </div>
        </div>
        <div class="team-members">
          <img src="assets/img/avatars/team/mike.jpg">
          <div class="infos">
            <span class="name">Mike Gilbin</span><br>
            <span class="job">Backend Developer<span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact">
    <div class="container">
      <div class="content-header">
        <h3 class="md-display-1">Contact Us</h3>
        <p class="md-body-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a href="mailto:contact@needbook.io" class="md-subhead md-body-2">contact@needbook.io</a>
      </div>
    </div>
  </section>

  <section id="footer" class="footer">
    <div class="container">
      Needbook
    </div>
  </section>
<div>
