<md-toolbar class="md-whiteframe-z2 md-tall" layout="column">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md>
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h2>
      <span>{{title}}</span>
    </h2>
  </div>
  <div class="md-toolbar-tools md-toolbar-tools-bottom">
    <md-tabs class="md-primary" md-selected="selectedIndex" flex="70" md-stretch-tabs md-border-bottom md-autoselect>
      <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" ui-sref="{{tab.state}}"></md-tab>
    </md-tabs>
  </div>
</md-toolbar>
