<md-toolbar class="md-whiteframe-z2" ng-class="{'md-tall': tabs.length > 0}" layout="column">
  <div class="md-toolbar-tools" flex>
    <div flex ng-if="!$state.is('app.search')" style="display: inline-flex;" layout-align="start center">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md>
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <h2><span>{{pageTitle || ''}}</span></h2>
    </div>
    <div flex ng-if="$state.is('app.search')">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="back()" hide-gt-md>
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <h2><span>{{pageTitle || ''}}</span></h2>
    </div>
    <div flex="50" layout-fill layout-padding>
      <search-input></search-input>
    </div>
    <div flex style="display: inline-flex;" layout-align="end center">

    </div>
  </div>
  <div class="md-toolbar-tools md-toolbar-tools-bottom" ng-if="tabs.length > 0">
    <md-tabs class="md-primary" md-selected="selectedIndex" flex="70" md-stretch-tabs md-border-bottom md-autoselect>
      <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" ui-sref="{{tab.state}}"></md-tab>
    </md-tabs>
  </div>
</md-toolbar>
