<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 core-sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="profile-menu md-tall" layout="column" layout-padding>
    <div class="profile-picture" layout-padding>
      <img src="/assets/img/profile.png">
    </div>
    <div class="profile-info">
      <div>
        <span class="md-body-2">{{currentUser.firstName}} {{currentUser.lastName}}</span><br>
        <span class="md-body-1">{{currentUser.email}}</span>
      </div>
      <md-menu md-position-mode="target-right target" layout-align="end end">
        <md-button aria-label="Open user interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <ng-md-icon md-menu-origin icon="arrow_drop_down" label="menu"></ng-md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="logout()">
              <ng-md-icon icon="logout" style="fill: #616161;"label="logout"></ng-md-icon>
              Logout
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
    <md-list id="nav-collections" class="nav-section">
      <span ng-repeat="category in menu">
        <md-divider ng-if="$index"></md-divider>
        <md-subheader class="md-no-sticky" ng-if="category.subheader">{{category.subheader}}</md-subheader>
        <md-list-item ng-repeat="item in category.links">
          <a ui-sref="{{item.state}}" ui-sref-active="active" layout="row" layout-align="start center">
            <ng-md-icon icon="{{item.icon}}" style="fill: #616161" label="{{item.title}}"></ng-md-icon>
            <p class="md-body-2">{{item.title}}</p>
          </a>
        </md-list-item>
      </span>
    </md-list>
</md-sidenav>
