<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 core-sidenav" md-component-id="left">
  <md-toolbar class="profile-menu md-tall" layout="column" layout-padding>
    <div class="profile-picture" layout-padding>
      <img src="/assets/img/avatars/user/profile.svg">
    </div>
    <div class="profile-info">
      <div>
        <span class="md-body-2">{{currentUser.firstName}} {{currentUser.lastName}}</span><br>
        <span class="md-body-1">{{currentUser.email}}</span>
      </div>
    </div>
  </md-toolbar>
    <md-list id="nav-collections" class="nav-section">
      <md-list-item ng-repeat="item in menu">
        <a ng-click="close()" ui-sref="{{item.state}}" ui-sref-active="active" layout="row" layout-align="start center">
          <ng-md-icon class="no-margin" icon="{{item.icon}}" style="fill: #616161" label="{{item.title}}"></ng-md-icon>
          <p class="md-body-2">{{item.title | i18next}}</p>
        </a>
      </md-list-item>
    </md-list>
</md-sidenav>
