<div class="book-details-container" >
  <md-card class="book-details">
    <section class="info-container">
      <div class="cover">
        <img class="image" ng-if="edition.default_image" ng-src="{{edition.default_image}}" alt="{{book.title}}">
        <img class="image" ng-if="!edition.default_image" src="assets/img/book/no_cover.jpg" alt="{{book.title}}">
      </div>
      <div class="info">
        <h2 class="title md-headline">{{book.title}}</h2>
        <div class="authors">
          <span ng-repeat="author in authors">
            <a class="author-name md-subhead" ui-sref="app.author({id: author.id})">
              {{($last && !$first) ? ' and ' : ''}}{{author.names[0]}}{{(($first && !$last) || $middle) ? ', ' : ''}}
            </a>
          </span>
        </div>
        <div class="edition md-body-2">
          {{edition.editor}} - {{edition.pages}} {{'book.pages' | i18next}}
        </div>
        <div class="publish-date md-body-2">
          {{edition.publish_date | date:'longDate'}}
        </div>
        <div class="editions" ng-if="editions.length > 1">
          {{'book.editions' | i18next}}:
          <span class="md-body-2" ng-repeat="edition in book.editions">
            {{edition.editor}}{{$last ? '' : ', '}}
          </span>
        </div>
      </div>
    </section>
    <md-card-content>
      <div ng-show="book.description">
        <p class="description" ng-bind-html="book.description" ng-class="{opened: opened}"></p>
        <div  style="text-align: center;">
          <md-button class="md-primary" ng-click="opened = true;" ng-hide="opened">More</md-button>
          <md-button class="md-primary" ng-click="opened = false;" ng-show="opened">Less</md-button>
        </div>
        <md-divider></md-divider>
      </div>
      <section class="additional-info">
        <h4 class="md-subhead" ng-i18next="book.additional-information">Additional Information</h4>
        <div class="additional-info-container">
          <div>
            <div class="meta-title md-body-2" ng-i18next="serie.title"></div>
            <div class="meta-info md-body-1">{{book.serie.name}}</div>
          </div>
          <div>
            <div class="meta-title md-body-2">isbn</div>
            <div class="meta-infomd-body-1">{{edition.isbn}}</div>
          </div>
          <div>
            <div class="meta-title md-body-2">asin</div>
            <div class="meta-infomd-body-1">{{edition.asin}}</div>
          </div>
          <div>
            <div class="meta-title md-body-2">ean</div>
            <div class="meta-infomd-body-1 content">{{edition.ean}}</div>
          </div>
        </div>
      </section>
    </md-card-content>
  </md-card>

  <character-list-card book-id="bookId"></character-list-card>

  <md-card class="places-list">
    <md-toolbar class="md-pimary">
      <div class="md-toolbar-tools">
        <h3>{{places.length}} Places</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="addMap()" ng-hide="map.url">
          <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" ui-sref="app.book.places.new({bookID: bookId})" ng-show="map.url">
          <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card-content class="no-padding empty" ng-hide="map.url">
      <empty-content icon="map" text="No map found"></empty-content>
      <md-button class="md-primary" ng-click="addMap()">Add Map</md-button>
    </md-card-content>

    <md-card-content class="no-padding empty" ng-show="!places.length && map.url">
      <empty-content icon="location_on" text="No places found"></empty-content>
      <md-button class="md-primary" ui-sref="app.book.places.new()">Add Places</md-button>
    </md-card-content>

    <md-card-content class="no-padding" ng-show="places.length">
      <md-list flex>
        <md-list-item ng-repeat="place in places" ng-click="goToPlace(place.id)">
          <p>{{place.name()}}</p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>

<!-- <div class="lock-size md-fab-bottom-right" > -->
  <md-fab-speed-dial id="my-speed-dial" md-open="demo.isOpen" md-direction="up" ng-class="demo.selectedMode">
    <md-fab-trigger>
      <md-button ng-hide="added" aria-label="menu" class="md-fab md-accent" ng-click="addToLibrary(edition.id)">
        <md-tooltip md-direction="left">{{'book.add-to-library' | i18next}}</md-tooltip>
        <ng-md-icon icon="add" label="{{'action.add' | i18next}}"></ng-md-icon>
      </md-button>
      <md-button ng-show="added" aria-label="menu" class="md-fab md-accent" ng-click="removeFromLibrary(edition.id)">
        <md-tooltip md-direction="left">{{'book.remove-from-library' | i18next}}</md-tooltip>
        <ng-md-icon icon="remove" label="{{'action.remove' | i18next}}"></ng-md-icon>
      </md-button>
    </md-fab-trigger>
  </md-fab-speed-dial>
<!-- </div> -->
