<loading-circle loading="isLoading"></loading-circle>
<section ng-hide="isLoading || !isEmpty" class="flex-container" layout="row" flex layout-wrap layout-margin layout-fill layout-align="space-around center">
  <empty-content ng-if="isEmpty" icon="search" text="{{emptyMsg}}"></empty-content>
</section>

<div ng-hide="isLoading || isEmpty">
  <!-- <span>Result : {{results.book.length}} Books, {{results.author.length}} Authors, {{results.serie.length}} Series and {{results.edition.length}} Editions</span> -->
  <span ng-show="results.book.length">
    <div class="header" layout="row" layout-align="space-between start">
      <h2 class="title" ng-i18next="book.title"></h2>
      <md-button class="md-primary" ng-disabled="true" ng-i18next="common.more"></md-button>
    </div>
    <section class="flex-container">
      <md-card book-card class="flex-item" ng-repeat="book in results.book" book="book"></md-card>
    </section>
  </span>
  <span ng-show="results.author.length">
    <div class="header" layout="row" layout-align="space-between start">
      <h2 class="title" ng-i18next="author.title"></h2>
      <md-button class="md-primary" ng-disabled="true" ng-i18next="common.more"></md-button>
    </div>
    <section class="flex-container" layout="row" flex layout-wrap layout-margin layout-fill layout-align="space-around center">
      <author-card ng-repeat="author in results.author" author="author"></author-card>
    </section>
  </span>
  <span ng-show="results.serie.length">
    <div class="header" layout="row" layout-align="space-between start">
      <h2 class="title" ng-i18next="serie.title"></h2>
      <md-button class="md-primary" ng-disabled="true" ng-i18next="common.more"></md-button>
    </div>
    <md-card layout-margin>
      <md-data-table-container>
        <table md-data-table md-progress="deferred">
          <thead md-order="query.order" md-trigger="onOrderChange">
            <tr>
              <th name="Name" order-by="name"></th>
            </tr>
          </thead>
          <tbody>
            <tr md-auto-select ng-repeat="serie in results.serie">
              <td ui-sref="app.serie({id: serie.id})">{{serie.name}}</td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </md-card>
  </span>
</div>
