<div layout="row" layout-align="center center">
  <div flex flex-gt-sm="80" flex-gt-md="70" flex-gt-lg="60">
    <md-card>
      <md-card-content>
        <h2 class="md-title" ng-i18next="account.title"></h2>
        <p>
          <span class="md-body-2" ng-i18next="account.username"></span>: {{currentUser.login}}<br>
          <span class="md-body-2" ng-i18next="account.last-name"></span>: {{currentUser.firstName}} {{currentUser.lastName}}<br>
          <span class="md-body-2"ng-i18next="account.email"></span>: {{currentUser.email}} <span class="md-caption">({{currentUser.state}})</span><br>
        </p>
        <md-input-container>
          <label ng-i18next="language.title" ng-i18next="language.french"></label>
          <md-select ng-model="lng" md-on-close="changeLng(lng)">
            <md-option value="{{language.value}}" ng-repeat="language in languages">
              <span class="flag-icon" ng-class="language.icon"></span> {{language.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>
</div>
