<md-toolbar class="main-nav md-whiteframe-z2" >
  <div class="md-toolbar-tools" >
    <img id="nav-logo" src="assets/img/logo@2x.png" alt="Needbook">
    <h1 class="md-headline" id="nav-logo-text">Needbook</h1>
  </div>
  <div class="md-toolbar-tools md-toolbar-tools-bottom" flex>
    <md-tabs class="md-primary" md-selected="selectedIndex" flex md-stretch-tabs="always" md-border-bottom md-autoselect>
      <md-tab label="Log In" ui-sref="home.login"></md-tab>
      <md-tab label="Sign Up" ui-sref="home.sign_up"></md-tab>
    </md-tabs>
  </div>
</md-toolbar>
