<md-card class="md-whiteframe-z1">
  <md-toolbar class="md-theme-light" layout="colum">
    <h2 class="md-toolbar-tools">
      <span>Places</span>
      <span flex></span>
      <md-button ui-sref=".new()">Add</md-button>
    </h2>
    <md-progress-linear md-mode="indeterminate" ng-show="progress"></md-progress-linear>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item ng-repeat="place in places">
        <a ui-sref="app.book.place.edit({ placeID: place.id })">
          {{place.traits.names.values.en_US.join(', ')}}
        </a>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
      <md-list-item ng-show="places.length == 0 && !progress">
        No places found.
      </md-list-item>
    </md-list>
  </md-content>
</md-card>
