<md-card>
  <md-card-header>
    <md-card-avatar ui-sref="app.book.details({id: book.id})">
      <img style="height: 40px;object-fit: cover;" class="md-user-avatar" ng-src="{{book.default_edition.default_image}}"/>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title" ui-sref="app.book.details({id: book.id})">{{book.title}}</span>
      <span class="md-subhead" ui-sref="app.author({id: book.authors[0].id})">{{book.authors[0].names[0]}}</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{place.name()}}</span>
    </md-card-title-text>
  </md-card-title>
  <form name="placeForm" ng-submit="save()">
  <md-card-content style="border-bottom: 1px solid lightgrey;">
    <md-input-container ng-if="!place.id">
      <label>Place Name</label>
      <input type="text" ng-model="place.traits[0].values.en_US[0]" required>
    </md-input-container>
    <md-input-container>
      <label>Longitude</label>
      <input type="number" step="any" ng-model="place.coordinates.longitude" required>
    </md-input-container>
    <md-input-container>
      <label>Latitude</label>
      <input type="number" step="any" ng-model="place.coordinates.latitude" required>
    </md-input-container>
    <md-input-container style="margin-top: -5px;">
      <md-select ng-model="place.map" placeholder="Select a Map" required>
        <md-option ng-value="map.id" ng-repeat="map in [book.map]">
          {{ map.names.en_US }}
        </md-option>
      </md-select>
    </md-input-container>
    <div>
      <i class="md-body-1">You can set the latitude and longitude by clicking on the right place on the map.</i>
    </div>
    <div style="height: 400px;">
      <map ng-if="book.map.url" map="book.map" place="place" places="places" style="position:relative; object-fit: cover;" is-editable="true">
    </div>
    <md-divider></md-divider>
    <md-list class="">
      <md-subheader class="md-no-sticky">
        {{place.traits.length}} Place Traits
      </md-subheader>
      <md-list-item class="md-2-line" ng-repeat="trait in place.traits">
        <div class="md-list-item-text">
          <h3>{{trait.values.en_US.join(', ')}}</h3>
          <p>{{trait.trait.names.en_US}}</p>
        </div>
      </md-list-item>
      <md-list-item ng-hide="place.traits.length">
        <div class="md-list-item-text" layout-fill>
          <span ng-hide="progress">No traits added</span>
          <md-progress-linear md-mode="indeterminate" ng-show="progress"></md-progress-linear>
        </div>
      </md-list-item>
      <md-list-item ng-hide="place.traits.length">
        <div class="md-list-item-text">
          <md-button class="md-primary" ng-click="addTraitDialog();">Add trait</md-button>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions layout="row" layout-align="center center">
    <md-button class="md-primary" type="submit" ng-disabled="placeForm.$invalid">
      {{ place.id ? 'Update' : 'Create' }}
    </md-button>
  </md-card-actions>
  </form>
</md-card>
