<div ng-controller="BookCharacterDetailCtrl">
  <md-button ng-click="addTraitDialog();">Add trait</md-button>
  <md-button ng-click="addLinkDialog();">Add link</md-button>
  <md-button ng-click="addMoveDialog();">Add move</md-button>
  <md-button ng-click="addActionDialog();">Add action</md-button>

  <timeline>
    <timeline-event ng-repeat="(location, events) in events | groupBy: 'calculated_begin_location'">

      <timeline-legend>
        <span ng-if="location != 'null'" class="md-primary">Location {{location}}</span>
        <span ng-if="location == 'null'" class="md-primary">Beginning</span>
      </timeline-legend>

      <timeline-badge class="normal">
        <i class="glyphicon"></i>
      </timeline-badge>

      <timeline-panel>
        <timeline-heading ng-if="events.length > 1">
          <h4>{{events.length}} events:</h4>
        </timeline-heading>
        <div class="list-item" ng-repeat="event in events">
          <div style="float:right"><ng-md-icon icon="remove" label="{{'action.remove' | i18next}}" ng-click="deleteEvent(event)" style="cursor:pointer;"></ng-md-icon></div>
          <div ng-if="event.type=='trait'"><strong>{{event.trait.names.en_US}}:</strong> {{event.values.en_US.join(', ')}}</div>
          <div ng-if="event.type=='move'">Moved from <strong><a href="#" ui-sref="app.book.place({ placeID: event.from.id })">{{event.from.indexedTraits().names[event.from.indexedTraits().names.length - 1].values.en_US[0]}}</a></strong> to <strong><a href="#" ui-sref="app.book.place({ placeID: event.to.id })">{{event.from.indexedTraits().names[event.from.indexedTraits().names.length - 1].values.en_US[0]}}</a></strong></div>
          <div ng-if="event.type=='link'">{{event.toSentence('en_US')}}</div>
          <div ng-if="event.type=='action'">{{event.toSentence('en_US')}}</div>
        </div>
      </timeline-panel>
    </timeline-event>
  </timeline>
</div>
