<md-dialog flex="60" ng-controller="AddTraitTypeCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Add trait type</h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <ng-md-icon icon="close"></ng-md-icon>
       </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content flex>
    <div class="md-dialog-content">
      <md-input-container>
        <label>Trait Name</label>
        <input type="text" ng-model="traitType.names.en_US">
      </md-input-container><br>
      <md-checkbox ng-model="traitType.primary">Primary</md-checkbox>
      <md-checkbox ng-model="traitType.multiple">Can have multiple values</md-checkbox>
      <md-checkbox ng-model="possibleValues">Restricted values</md-checkbox>
      <div ng-show="traitType && possibleValues">
        <h2>Possible values</h2>
        <md-input-container ng-repeat="(i, value) in traitType.possible_values">
          <label>Value {{i + 1}}</label>
          <input type="text" ng-model="value">
        </md-input-container>
        <div>
          <md-input-container>
            <label>New Value</label>
            <input type="text" ng-model="newTraitTypeValue">
          </md-input-container>
          <md-button ng-click="addTraitTypeValue()" flex="25">Add</md-button>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="close()">Cancel</md-button>
    <md-button ng-click="save()" class="md-primary">Save</md-button>
  </md-dialog-actions>
</md-dialog>
