<md-dialog flex="60" ng-controller="AddLinkCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Add link</h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancelDialog()">
        <ng-md-icon icon="close"></ng-md-icon>
       </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content flex>
    <div class="md-dialog-content">
      <i>Select a relationship</i>
      <md-autocomplete
        md-selected-item="link.link"
        md-search-text="searchText"
        md-items="link_type in querySearch(searchText)"
        md-item-text="link_type.names.en_US"
        md-min-length="0"
        placeholder="Type name">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{link_type.names.en_US}}</span>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete><br>
      <i>Select a character</i>
      <md-autocomplete
        md-selected-item="link.to"
        md-search-text="searchChar"
        md-items="character in characterSearch(searchChar)"
        md-item-text="character.name()"
        md-min-length="0"
        placeholder="Character relation">
        <md-item-template>
          <span md-highlight-text="searchChar" md-highlight-flags="^i">{{character.name()}}</span>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>
    <div ng-show="link.link">
      <h2>Comment</h2>
      <md-input-container layout flex>
        <label>Comment</label>
        <input type="text" ng-model="link.comments.en_US">
      </md-input-container>
    </div>
    <div ng-show="link.link">
      <h2>Locations</h2>
      <div layout flex>
        <md-input-container layout flex>
          <label>Begin location</label>
          <input type="number" ng-model="begin_locations[edition.id].location">
        </md-input-container>
        <md-input-container layout flex>
          <label>End location</label>
          <input type="number" ng-model="end_locations[edition.id].location">
        </md-input-container>
      </div>
    </div>
  </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="close()">Cancel</md-button>
    <md-button ng-click="save()" class="md-primary">Save</md-button>
  </md-dialog-actions>
</md-dialog>
