<md-dialog flex="60">
  <md-dialog-content>
    <h1>Add action</h1>
    <div>
      <md-autocomplete
        md-selected-item="action.action"
        md-search-text="searchText"
        md-items="action_type in querySearch(searchText)"
        md-item-text="action_type.names.en_US"
        md-min-length="0"
        placeholder="Type name">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{action_type.names.en_US}}</span>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>
      Do you want to <md-button class="md-primary" ng-click="newActionType()">create a new one</md-button>?
    </div>
    <div>
      <md-autocomplete
        md-selected-item="action.to"
        md-search-text="searchChar"
        md-items="character in characterSearch(searchChar)"
        md-item-text="character.traits.names.values.en_US.join(', ')"
        md-min-length="0"
        placeholder="Character relation">
        <md-item-template>
          <span md-highlight-text="searchChar" md-highlight-flags="^i">{{character.traits.names.values.en_US.join(', ')}}</span>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>
    </div>
    <div ng-show="link.link">
      <h2>Comment</h2>
      <md-input-container layout flex>
        <label>Comment</label>
        <input type="text" ng-model="link.comments.en_US">
      </md-input-container>
    </div>
    <div ng-show="link.link">
      <h2>Locations</h2>
      <div layout flex>
        <md-input-container layout flex>
          <label>Begin location</label>
          <input type="number" ng-model="link.begin_locations[0].location">
        </md-input-container>
        <md-input-container layout flex>
          <label>End location</label>
          <input type="number" ng-model="link.end_locations[0].location">
        </md-input-container>
      </div>
    </div>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="cancelDialog()" class="md-warn">Cancel</md-button>
    <md-button ng-click="closeDialog()" class="md-primary">Save</md-button>
  </div>
</md-dialog>
