<md-card class="md-whiteframe-z1">
  <section>
    <md-toolbar class="md-theme-light" layout="column">
      <h2 class="md-toolbar-tools">
        <span>Traits</span>
        <span flex></span>
        <md-button ng-click="addTraitDialog();">Add</md-button>
      </h2>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="trait in character.traits">
          <div class="md-list-item-text">
            <h3>{{trait.trait.names.en_US}} <md-icon ng-if="trait.trait.primary">star_rate</md-icon></h3>
            <p>{{trait.values.en_US.join(', ')}}</p>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
        <md-list-item ng-if="!hasKeys(character.traits)">
          <div class="md-list-item-text" layout-fill>
            <span ng-hide="progress">No traits available.</span>
            <md-progress-linear md-mode="indeterminate" ng-show="progress"></md-progress-linear>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </section>

  <section>
    <md-toolbar layout="column">
      <h2 class="md-toolbar-tools">
        <span>Links</span>
        <span flex></span>
        <md-button ng-click="addLinkDialog();">Add</md-button>
      </h2>
    </md-toolbar>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="link in character.links">
        <div class="md-list-item-text">
          <h3>{{link.link.names.en_US}}</h3>
          <p>{{link.to.traits.names.values.en_US[0]}}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
      <md-list-item ng-if="!hasKeys(character.links)">
        <div class="md-list-item-text" layout-fill>
          <span ng-hide="progress">No links available.</span>
          <md-progress-linear md-mode="indeterminate" ng-show="progress"></md-progress-linear>
        </div>
      </md-list-item>
    </md-list>
  </section>

  <section>
    <md-toolbar class="md-theme-light" layout="colum">
      <h2 class="md-toolbar-tools">
        <span>Moves</span>
        <span flex></span>
        <md-button ng-click="addMoveDialog();">Add</md-button>
      </h2>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="move in character.moves">
          <div class="md-list-item-text">
            <h3>From {{move.from.traits.names.values.en_US.join(', ')}}</h3>
            <p>To {{move.to.traits.names.values.en_US.join(', ')}}</p>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
        <md-list-item ng-if="!hasKeys(character.moves)">
          <div class="md-list-item-text" layout-fill>
            <span ng-hide="progress">No moves available.</span>
            <md-progress-linear md-mode="indeterminate" ng-show="progress"></md-progress-linear>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </section>

  <section>
    <md-button class="md-primary" ng-click="save();">Save</md-button>
  </section>
</md-card>
