<div class="characters-container">
  <section class="characters-list">
    <md-list>
      <md-list-item ng-repeat="character in characters | orderBy:orderByName" ng-click="displayDetails(character.id)" ng-class="{'active': character.id === character_details.id}">
        <img src="assets/img/male.svg" class="md-avatar" alt="{{character.name()}}"/>
        <p>{{character.name()}}</p>
      </md-list-item>
      <md-list-item ng-show="characters.length == 0 && !progress">
        No characters found.
      </md-list-item>
      <md-list-item>
        <md-button ui-sref="app.book.characters.new()">Add character</md-button>
      </md-list-item>
    </md-list>
  </section>
  <section class="character-details">
    <ng-include src="'components/book/character/bookCharacterDetailView.html'"></ng-include>
  </section>
</div>
