<div class="character-details-container">
  <md-content>
    <md-list class="character-list" hide-xs>
      <!--ui-sref="app.book.character({bookID: bookId, charID: character.id})"-->
      <md-list-item ng-repeat="character in characters | orderBy:orderByName" ng-click="goToCharacter(character.id)"  ng-class="{'active': character.id === selectedCharacter.id}">
        <span ng-if="!character.picture().length">
          <img src="assets/img/avatars/character/male.svg" ng-show="character.gender() === 'male'" class="md-avatar" alt="{{character.name()}}"/>
          <img src="assets/img/avatars/character/female.svg" ng-show="character.gender() === 'female'" class="md-avatar" alt="{{character.name()}}"/>
          <img src="assets/img/avatars/character/unknown.svg" ng-show="character.gender() != 'female' && character.gender() != 'male'" class="md-avatar" alt="{{character.name()}}"/>
        </span>
        <img ng-src="{{character.picture()}}" ng-if="character.picture().length" class="md-avatar" alt="{{character.name()}}"/>
        <p>{{character.name()}}</p>
      </md-list-item>
    </md-list>
  </md-content>

  <character-details book-id="bookId" char-id=charId></character-details>
</div>

<md-fab-speed-dial id="my-speed-dial" class="md-scale" md-direction="up" md-open="fab.isOpen" ng-mouseenter="fab.isOpen=true" ng-mouseleave="fab.isOpen=false">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-accent">
      <md-tooltip md-direction="left">Open</md-tooltip>
      <ng-md-icon icon="menu" aria-label="{{'action.add' | i18next}}"></ng-md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions ng-show="fab.isOpen">
    <div ng-repeat="fabAction in fabActions">
      <md-button aria-label="{{fabAction.name}}" class="md-fab md-raised md-mini" ng-click="fabActionClick($index)">
        <md-tooltip md-direction="left">
          {{fabAction.name}}
        </md-tooltip>
        <ng-md-icon icon="{{fabAction.icon}}" aria-label="{{fabAction.name}}"></ng-md-icon>
      </md-button>
    </div>
 </md-fab-actions>
</md-fab-speed-dial>
