<md-dialog flex="60">
  <md-dialog-content class="dialog-add-event">
    <h1>Add trait type</h1>
    <md-input-container>
      <input type="text" placeholder="Name" ng-model="trait_type.names.en_US">
    </md-input-container>
    <md-checkbox ng-model="trait_type.primary">Primary</md-checkbox>
    <md-checkbox ng-model="trait_type.multiple">Can have multiple values</md-checkbox>
    <md-checkbox ng-model="possibleValues">Restricted values</md-checkbox>
    <div ng-show="trait_type && possibleValues">
      <h2>Possible values</h2>
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="value in trait_type.possible_values">
          <md-input-container>
            <input type="text" ng-model="value">
          </md-input-container>
        </md-list-item>
      </md-list>
      <div layout flex>
        <md-input-container flex>
          <label>New Value</label>
          <input type="text" ng-model="newTraitTypeValue">
        </md-input-container>
        <md-button ng-click="addTraitTypeValue()" flex="25">Add</md-button>
      </div>
    </div>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="cancelDialog()" class="md-warn">Cancel</md-button>
    <md-button ng-click="closeDialog()" class="md-primary">Save</md-button>
  </div>
</md-dialog>
