<md-dialog flex="60">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Add action type</h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <ng-md-icon icon="close"></ng-md-icon>
       </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content flex class="dialog-add-event">
    <div class="md-dialog-content">

    <md-input-container>
      <input type="text" placeholder="Name" ng-model="action_type.names.en_US">
    </md-input-container>
    <h2>Sentences</h2>
    <div>
      <h4>Active</h4>
      Character
      <md-input-container>
        <input type="text" placeholder="sentence" ng-model="action_type.sentences.en_US.active" />
      </md-input-container>
      Character 2.
      <h4>Passive</h4>
      Character 2
      <md-input-container>
        <input type="text" placeholder="sentence" ng-model="action_type.sentences.en_US.passive" />
      </md-input-container>
      Character.
    </div>
    <h2>Causes</h2>
    <md-autocomplete
      md-selected-item="action_type.causes[0]"
      md-search-text="searchText"
      md-items="type in querySearchCause(searchText)"
      md-item-text="type.names.en_US"
      md-min-length="0"
      placeholder="Type name">
      <md-item-template>
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{type.names.en_US}}</span>
      </md-item-template>
      <md-not-found>
        No matches found.
      </md-not-found>
    </md-autocomplete>
    <md-checkbox ng-model="other">to destination character(s)</md-checkbox>
    <md-input-container>
      <input type="text" placeholder="Value" ng-model="value" />
    </md-input-container>
  </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="close()">Cancel</md-button>
    <md-button ng-click="save()" class="md-primary">Save</md-button>
  </md-dialog-actions>
</md-dialog>
